<h2 align="center" style="color:red"> Welcome to WIND Currency exchange </h2>
<img  src="https://mail.google.com/mail/u/0?ui=2&ik=475b127fc3&attid=0.1&permmsgid=msg-f:1646936911673697327&th=16db186533ca242f&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ9D8mULrhJqwBg30gfL0NTLakRo7YBPB0oBiqzYAY3P3hZQIY5Kf0aPpXj7-x7Yr6GlAKd1dldbR5xaYvV_fPZbjC9CPc-7LYOBXRlieCTG1rJQFdc_lqmw3ZI&disp=emb&realattid=b750b2bd1d8fdb12_0.1" width="42" height="42">
<img  src="https://www.creativefabrica.com/wp-content/uploads/2018/12/Currency-exchange-icon-by-back1design1-1-580x362.png" style="display:block; margin-left:auto; margin-right:auto">
<head>
<link rel="shortcut icon" href="../favicon.ico" />
<style>
table, th, td {
  border: 1px solid blue;
  border-collapse: collapse;
}
th, td {
  padding: 13px;
}
</style>
</head>
<table align="center" style="width:70%">
  <tr>
    <th style="color:blue">Currency</th>
    <th style="color:blue">Buy</th>
    <th style="color:blue">Sell</th>
  </tr>
  <tr>
    <th>USD</th>
    <th  style="color:blue">16.17</th>
    <th  style="color:red">16.27</th>
  </tr>
  <tr>
    <th>EUR</th>
    <th  style="color:blue">17.7741</th>
    <th  style="color:red">17.9702</th>
  </tr>
    <tr>
      <th>GBP</th>
      <th  style="color:blue">20.3807</th>
      <th  style="color:red">20.8175</th>
    </tr>
    <tr>
      <th>CHF</th>
      <th  style="color:blue">16.1781</th>
      <th  style="color:red">16.3288</th>
    </tr>
    <tr>
      <th>SAR</th>
      <th  style="color:blue">4.2943</th>
      <th  style="color:red">4.3379</th>
    </tr>
    <tr>
      <th>KWD</th>
      <th  style="color:blue">52.8777</th>
      <th  style="color:red">53.5885</th>
    </tr>
</table>
